/* Hoja de estilos CSS */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;1,200;1,400;1,700&display=swap');


@font-face {
    font-family: 'Poppins';
    src: url(Poppins/Poppins-Light.ttf);
}

* {
    margin: 2;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: #3e424d;
    color: #fff;
    padding: 18px;
}
.advan{
    background: #f3907e;
    min-height: 50vh;
}
.advanBox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
}
.advanBox .box{
    width: 250px;
    height: 250px;
    background: #15f773;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
}
.advanBox .box:hover{
    background: #fff;
    border: 10px solid #f84f32;
}
header .Proyectores{
    font-weight: 846;
    color: #f84f32;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header .ul li{
    font-weight: 846;
    color: #dd1717;
    text-decoration: none;
}

body{
    min-height: 100px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    margin: 0 15px;
    text-decoration: none;
    color: #f84f32;
    letter-spacing: 2px;
    font-weight: 400;
}
header.sticky{
    background: #3e424d;
    padding: 5px 100px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

header.sticky ul li a {
    color: #bc92ff;
}
header.sticky .Proyectores {
    color: #bc92ff;
}

header.sticky{
    padding: 5px 100px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

header.sticky .logo,
header.sticky ul li a
{
    color: #000;
}

.banner{
    width: 100%;
    min-height: 100vh;
    background: url(../assets/proyector.jpeg);
    background-color: #3b5394;
    display: flex;
    justify-content: right;
    align-items: center;
    background-size: cover;
}

.sec {
    background-color: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec2 {
    background-color: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec .content{
    text-align: center;
    width: 100%;
}



.mxw800p{
    max-width: 800px;
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.imagen {
    max-width: 38%;
    float: left;
    margin-right: 40px;
}

.txt{
    margin-left: 20px;
    text-align: center;
}

.btn1 {
    display: inline-block;
    background: #3e424d;
    color: #7ef3df;
    padding: 10px 30px;
    text-decoration: none;
}

h1 {
    color: #fff;
    font-size: 45px;
    margin-left: 720px;
    text-align: center;
}

h3 {
    font-size: 45px;
    font-weight: 200;
    margin-bottom: 10px;
    font-family: 'Roboto';
    src: url(Roboto/Roboto-Medium.ttf);
    color: #3e424d;
    
}

h4 {
    font-size: 45px;
    font-weight: 200;
    margin-bottom: 10px;
    font-family: 'Roboto';
    src: url(Roboto/Roboto-Medium.ttf);
    color: #3e424d;
}

p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-family: 'Poppins';
    src: url(Poppins/Poppins-Light.ttf);
}

.services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 100%;
    margin-top: 60px;
    
}

.services .box{
    width: 250px;
    margin: 0 auto;
    box-shadow: 0px 10px 15px black;
    padding: 20px;
}

.services .box .iconBx{
    margin-top: 25px;
}


/****************************slider *****************************************************************/
/*********************************************************************************************/
/*********************************************************************************************/
.slider {
    position: relative;
}

.slider-items{
    overflow: hidden;
}
/*@keyframes punto {
	0%{ transform: scale ( 0 , 0 );}
	100%{ transform: scale ( 1 , 1 );}	
}*/
/*@keyframes pulso {
	0%    {transform: scale ( 0 ); opacity:  0;}
    10%   {transform: scale ( 1 ); opacity:  0,5;}
	50%   {transform: scale ( 1,75 ); opacity: 0;}
    100% {transform: scale ( 0 ); opacity:  0;}  
}*/
/*
@keyframes zoom{
    0%{transform: scale(1.2); opacity: 0;}
    100% { transform: scale(1); opacity: 1;}
}*/
/*@keyframes punto{
    0%{transform: scale(1.2); opacity: 0;}
    100% { transform: scale(1); opacity: 1;}
}*/
@keyframes beat {
    0%, 50%, 100% { transform: scale(1, 1); }
    30%, 80% { transform: scale(0.92, 0.95); }
  }

.slider-items .item{
    display: none;
    max-width: 800px;
    margin: 0 auto;
   /* animation: reverse 1s;*/
    /*animation: punto 1s;
    animation: punto 1s;*/
    animation: 1.5s ease 0s infinite beat;
    animation-duration: 3s;
    
    position: relative;
    /*animation: zoom 1s;*/
}

.slider-items .item img{
    max-width: 100%;
    width: 900px;
    height: 400px;
}
.slider-items .item.active{
    display: block;
}
.slider-items .item .descripcion{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    line-height: 60px; 
    font-size: xx-large;
    font-weight: 100px;
    text-align: center;
    font-weight: bolder;
    color: #000;
    background: rgba(255, 255, 255, 0.822);
}
.slider .ir-atras,
.slider .ir-sig{
    width: 50px;
    height: 50px;
    background: #4b546d;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #7ef3df;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.slider .ir-atras{
    left: 10px;
}
.slider .ir-sig{
    right: 10px;
}

.slider .ir-atras:hover,
.slider .ir-sig:hover{
    background-color: #bc92ff;
}

/****************************slider *****************************************************************/
/****************************slider *****************************************************************/
/****************************slider *****************************************************************/
/****************************slider *****************************************************************/
.portafolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 100%;
    margin-top: 60px;
    
}
.portafolio .brand{
    width: 250px;
    margin: 0 auto;
    box-shadow: 0px 10px 15px black;
    padding: 20px;
}


.portafolio .brand .iconBx{
    margin-top: 25px;
}
.portafolio .brand .iconBx img{
    max-width: 90px;
    margin-bottom: 15px;
}

.services .box .iconBx img{
    max-width: 90px;
    margin-bottom: 15px;
}

.sec .services .box .content h2{
    font-weight: 846;
    color: #3e424d;
}
/*++++++++++++++++++++++++++++++++TEAM++++++++++++++++++++++++++++++++++++++++++*/
.teamBx {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}
.teamBx .member{
    position: relative;
    background: #000;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teamBx .member .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.teamBx .member .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teamBx .member .details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: 0.2s;
    opacity: 0;
}

.teamBx .member .details:hover{
    opacity: 1;
}
.teamBx .member .details h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}
.teamBx .member .details h2 span{
    display: block;
    font-size: 12px;
    font-weight: 300;
}
/*++++++++++++++++++++++++++++++++TEAM++++++++++++++++++++++++++++++++++++++++++*/

/*++++++++++++++++++++++++++++++++CONTACT++++++++++++++++++++++++++++++++++++++++++*/
.contact{
    background: #000;
    margin-top: 40px;
}
.contact h3, .contact p{
    color: #fff;
}
.contactForm{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
.contactForm form{
    width: 100%;
}
.contactForm .row100{
    display: flex;
    width: 100%;
}
.contactForm .row100 .inputBx50{
    width: 100%;
    margin: 0 5px;
}
.contactForm .row100 .inputBx100{
    width: 100%;
    margin: 0 10px;
}
.contactForm .row100 input,
.contactForm .row100 textarea{
    position: relative;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: transparent;
    width: 100%;
    padding: 10px 0;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    resize: none;
}
.contactForm .row100 textarea{
    height: 100px ;
}
.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder{
    color: rgba(255, 255, 255,0.5);
}
.contactForm .row100 input[type="submit"]{
    background: #fff;
    color: #000;
    max-width: 150px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
}
.contactForm .row100 input[type="reset"]{
    position:static;
    background: #fff;
    color: #000;
    max-width: 250px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 800;
}
#text1{
    display: block;
    color: #000;
    font-weight: 500;
    padding: 1px;
    text-align: left;
    margin-top: -10px;
}#text2{
    display: block;
    color: #000;
    font-weight: 500;
    padding: 1px;
    text-align: left;
    margin-top: -10px;
}
#text3{
    display: block;
    color: #000;
    font-weight: 500;
    padding: 1px;
    text-align: left;
    margin-top: -10px;
}

.sci{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.sci ul{
    display: flex;
}
.sci ul li{
    list-style: none;
}
.sci ul li a{
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
}
.sci ul li a img{
    filter: invert(1);
    max-width: 50px;
}
.sci ul li a:hover img{
    opacity: 0.10;
}
/*++++++++++++++++++++++++++++++++CONTACT++++++++++++++++++++++++++++++++++++++++++*/

/*++++++++++++++++++++++++++++++++STATS++++++++++++++++++++++++++++++++++++++++++*/
.stats{
    background: #000;
    padding-top: 250px ;
    margin-top: 250px;
}
.stats h3,
.stats p
{
   color: #fff; 
}
.statsBox{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));;
    grid-gap: 20px;
    max-width: 100%;
}
.statsBox h2{
    color:#fff;
    font-size: 36px;
}
.statsBox h4{
    color: #fff;
    font-size: 16px;
    font-weight: 500 ;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*++++++++++++++++++++++++++++++++STATS++++++++++++++++++++++++++++++++++++++++++*/
.workBx{
    position: relative;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));;
    grid-gap: 10px;
    max-width: 100%;
    margin-top: 40px;
}
.workBx .brand{
    position:relative;
    background: #eeb823;
    height: 330px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.workBx .brand:hover{
    background: rgb(10, 228, 228);
}
.workBx .brand a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

/*BOTON DE REGRESO*/

#button-up{
    width: 50px;
    height: 60px;
    background: #bc92ff;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: 4px solid transparent;
    border-radius: 100%;
    cursor: pointer;
    transition: all 300ms ease;
    transform:scale(1) ;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 50px;
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ESTILOS PARA PANTALLAS MAS PEQUENAS +++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media (max-width: 900px){
    
    .btnMenu{
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        /*background: #0537c0;*/
        cursor: pointer;
    }
    /*Pseudo-elementos:
    before (antes)
    afer (despues)*/
    .btnMenu::before{
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: rgb(250, 5, 5);
        box-shadow: 0 10px 0 rgb(253, 5, 5);

    }
    .btnMenu::after{
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: rgb(248, 6, 6);
    } 
    header,
    header.sticky{
        padding: 5px 50px;
        background: #fff;
    }
    header.logo,
    header ul li a{
        color: #000;
    }
    header ul{
        position: absolute;
        visibility: hidden;
        flex-direction: column;
        top: 58px;
        left: 0%;
        background: #3e424d;
        width: 50%;
        height: 100vh;
    }
    header.active ul {
        visibility: visible;
    }
    header.active ul li a{
       /* visibility: visible;*/
        display: inline-block;
        margin: 10px 0;
        font-size: 25px;

    }
    .banner{
        background-position: center;
    }
    .banner h1{
        font-size: 40px;
    }
    .services .box{
        width: 100%;
    }
    .casoBx .personas{
        margin: 0 auto;
    }
    .advan.advanBox.box{
        margin: 0 auto;
    }
    .stats{
        padding-top: 250px;
    }
    .row100{
        flex-direction: column;
    }
    .contactForm .row100 .inputBx50,
    .contactForm .row100 .inputBx100{
        width: 100%;
        margin: 0;
    }
    .sci{
        margin: 20px;
        width: 100%;
    }
    .sci ul li a img{
        font-size: 24px;
        
    }
}